* {
  margin: 0;
  padding: 0;
}

/* html{
  background-image: linear-gradient(#43439d, #5e49da);
} */

body {
  background-image: linear-gradient(#43439d, #5e49da);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   color: #000;
  font-family: "Roboto", "san-serif";
}

nav ul{
  float: right;
  margin-right: 20px;
  text-decoration: none;
 
}

nav ul li{
  display: inline-block;
  /* line-height: 80px; */
  margin-left: 10px;
  border: 1px solid white;
  padding: 10px;

}

nav ul li a{
  color: white;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 7px 13px;
  border-radius: 3;

}

a.active,a:hover{
  color: #ccc;
  transition: .5s;
}


h1 {
  text-align: center;
  padding-right: 10px;
  font-size: 35px;
}
/* css formulario */
.form {
  background: rgb(231, 231, 231);
  font-size: 15px;
  width: 80%;
  height: 75%;
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 23px;
  /* padding-block-end: 10px; */
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
}

input[type="text"],[type="number"] {
  margin-bottom: 20px;
  padding:5px;
  width: 60%;
  border: 1px solid #12203e;
  
}

label {
  width: 60%;
  font-family: Arial, Helvetica;
  font-size: 16px;

}

textarea {
  width: 60%;
  height: 100px;
  min-width: 298px;
  max-width: 298px;
  min-height: 100px;
  max-height: 200px;
  background: #fff;
}

.p_error{
 font-size: 16px;
 margin-bottom: 20px;
}

/* boton de envío */
input[type="submit"] {
  width: 60%;
  padding: 5px;
  border: 1px solid #12203e;
  padding-inline-end: 20px;
  margin-block-end: 20px;
  background: #ccc;
  padding-left: 20px;
  cursor: pointer;

}

input:hover[type="submit"]{
    background: #fff;
    font-weight: bold;
    
}

/* Titulo del header */
.full{
  text-align: left;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}
/* imagen del banner */
.logo{
 margin-bottom: 10px;

}

/* foto deportistas */
.sport_boys{
    
    margin-left: 67px;
}

/* tamaño zapatillas */
.img_size {
  width: 250px;
  height: 200px;
}
/* imagenes zapatillas (topper, nike, puma) */
.img_1 {

  margin: 0 auto;

}

/* nosotros */
.img2 {
  width: 580px;
  height: 399px;
  margin-left: 46px;
}
/* articulos de deporte */
.img3{
  padding-top: 15px;
  width: 200px;
  height: 200px;
}
/* pelota de rugby */
.img4{
  padding-top: 15px;
  width: 173px;
  height: 157px;
}
/* imagen de Federer y Embape */
.img5 {

  margin-left:10px;
  margin-right: 10px;

}



h3 {
  text-align: center;

  
}
/* texto de las zapatillas */
.h3_zapa{
  margin-right: 10px;
}
/* precio de las pelotas */
.precio {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}
/* precio de las zapatillas */
.precio_zapas{
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
/* parrafo de imagen */
.p_zapas {
  margin-top: -50px;
  font-size: 18px;
  margin-left: 10px;
  text-align: center;
  border-bottom: thin solid #eee;

}
/* parrafo de imagen */
.p_zapas_2 {
  margin-top: -30px;
  font-size: 18px;
  margin-left: 10px;
  text-align: center;
  border-bottom: thin solid #eee;

}
/* foto fútbol */
.futbol {
  width: 140px;
  height: 130px;
  margin-left: 44px
}
/* foto basket */
.basket {
  width: 140px;
  height: 130px;
  margin-left: 43px;
  margin-top: -1px;
}

/* Ul página productos*/

 .div ul {
  text-align: center;
  list-style: none;

}


.div ul li {
  display: block;
  padding-block-end: 20px;
  border-bottom: thin solid #eee;
}
.div ul li a {
  text-decoration: none;
  color: #000;
}
/* tamaño css para productos */

p{
  width: 90%;
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
  margin-left:  54px;
  margin-top: 10px;
}

.p .img3 {
  width: 190px;
  height: 193px;
}

.email {
  text-align: center;
}

/* Css de todo el documento html */
.contenedor {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);

  grid-template-areas:
    "header    header    header"
    "contenido contenido  sidebar"
    "widgets-1 widgets-2 sidebar"
    "footer    footer    footer";
}
/* Le damos color al documento */
.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
}
/* Css para encabezado */
.contenedor .header {
  width: 96%;
  height: 130px;
  margin-top: -20px;
  background-image: linear-gradient(#43439d, #5e49da);
  color: #fff;
  grid-area: header;
  background-repeat: no-repeat;
 
}
/* Dos columnas al contenido */
/* colocamos un width: 90% para fijar el responsive */
.contenedor .contenido {
  grid-area: contenido;
  width: 98%;
  background-color: rgb(251, 246, 246);
  color: #000;
  font-size: 23px;
  font-family: 'Times New Roman', Times, serif;
  display: block;
  margin-top: -19px;
  padding-top: 30px;
  padding-block-end: 77px;
}

/* Se utiliza flex box y Grid */
.contenedor .sidebar {
  grid-column: 3/4;
  display: block;
  grid-area: sidebar;
  margin-top: -19px;
  margin-bottom: -23px;
  color: #000;
  font-size: 20px;

}

.contenedor .widgets-1,
.contenedor .widgets-2 {
  /* background: #55a8fd; */
  color: #000;
  background-color: rgb(251, 246, 246);
  height: 200px;
  display: block;
  margin-top: -26px;
  margin-left: 0px;
  margin-right: -20px;
  margin-bottom: -22px;
}

.contenedor .widgets-1 {
  grid-area: widgets-1;
}

.contenedor .widgets-2 {
  grid-area: widgets-2;
}

.contenedor .footer {
  background-image: linear-gradient(#43439d, #5e49da);
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  margin-bottom: -19px;
}

.articulos{
  text-align: center;
}





